<div data-ng-controller="SearchController as search">

    <div class="row">
        <div class="col-md-12">
            <form class="form-inline">
                <label class="sr-only" for="search">Search</label>
                <input class="form-control input-lg" placeholder="Search..." type="text" id="search" data-ng-model="search.query" />
                <button type="submit" class="btn btn-primary btn-lg" data-ng-disabled="search.isSearching" data-ng-click="search.submit()">Search</button>
            </form>
        </div>
    </div>
    <div class="row market-header">
        <div class="col-md-12">
            <div class="col-md-1 market-image-header">
                Image
            </div>
            <div class="col-md-10 market-name-header" data-ng-click="search.sort = 'name'; search.reverse = !search.reverse">
                Name
            </div>
            <div class="col-md-1 market-stats-header" data-ng-click="search.sort = 'price'; search.reverse = !search.reverse">
                Stats
            </div>
        </div>
    </div>
    <div class="row market-item-row" data-ng-repeat="item in search.guns | orderBy:search.sort:search.reverse">
        <div class="col-md-12">
            <div class="col-md-1">
                <img class="market-item-image" data-ng-style="{ 'border-color': item.color }" data-preview-popover="item.imageLarge" data-ng-src="{{item.imageThumbnail}}" />
            </div>
            <div class="col-md-10 market-item-name">
                <a href="{{item.url}}" target="_blank">
                    <span data-ng-style="{ color: item.color }">{{item.name}}</span>
                </a>
            </div>
            <div class="col-md-1 market-item-stats" >
                <div class="row">
                    <div class="col-md-12 market-item-price">
                        {{item.priceDisplay}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 market-item-quantity">
                        {{item.quantity}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

