<!DOCTYPE html>
<html lang="en" data-ng-app="app">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CS:GO Searcher</title>
    <link rel="icon" type="image/x-icon" href="@Url.Content("~/img/favicon.ico")" />
    @Styles.Render("~/bundles/sitecss")
</head>
<body>
    <div class="container">
        <div class="jumbotron market-container">
            @RenderBody()
        </div>
    </div>
    @Scripts.Render("~/bundles/sitejs");
</body>
</html>